.main {
}
.hero {
    .container {
    }
    .hero-block {
        .image-blcok {
            display: flex;
            width: 100%;
            height: 350px;
            .image {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.main__navigation {
    .container {
    }
}
.navigation-block {
    background: #000;
    padding: 0 20px;
    .navigation {
        display: flex;
        align-items: center;
        height: 50px;
        .navigation__link-block {
            display: flex;
            &:not(:last-child)::after {
                content: '/';
                display: flex;
                align-items: center;
                margin: 0 5px;
                color: var(--main-f5-color);
            }
            .navigation__link {
                display: flex;
                align-items: center;
                color: var(--main-f5-color);
            }
        }
    }
}

.cards {
    .container {
    }
    .cards-block {
        margin-bottom: 5px;
        .cards__title-block {
            display: flex;
            align-items: center;
            height: 80px;
            padding: 0 20px;
            background: #171717;
            margin-bottom: 20px;
            .title {
                font-weight: 400;
                font-size: 20px;
                color: var(--main-f5-color);
            }
        }
        .items-block {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -8px;
        }
    }
    .item-wrapper {
        flex: 0 0 25%;
        padding: 0 8px;
        margin-bottom: 25px;
        .item {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 240px;
            box-shadow: 0 0 7px 1px rgba(17, 17, 17, .05);
            .image-block {
                width: 190px;
                height: 190px;
                transition: .3s ease;
                .image {
                    max-width: 100%;
                    max-height: 100%;
                    object-fit: cover;
                }
            }
            .cover-block {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: .3s ease;
                .item__name {
                    position: relative;
                    z-index: 2;
                    display: flex;
                    align-items: center;
                    transform: translateY(-9px);
                    .name {
                        font-size: 20px;
                        color: #fff;
                        cursor: default;
                    }
                    .dash {
                        margin: 0 5px;
                        color: #fff;
                        cursor: default;
                    }
                    .price {
                        font-size: 16px;
                        color: #fff;
                        cursor: default;
                    }
                }
                .item__button {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    z-index: 2;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 40px;
                    height: 40px;
                    background: #000;
                    .icon {
                        max-width: 25px;
                        max-height: 25px;
                    }
                }
                .fade {
                    position: absolute;
                    z-index: 1;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, .5);
                }
            }
            &:hover .cover-block {
                opacity: 1;
            }
            &:hover .image-block {
                transform: scale(1.1);
            }
        }
    }
}