.main {
}
.hero {
    .container {
    }
    .hero-block {
        .image-blcok {
            display: flex;
            width: 100%;
            height: 350px;
            .image {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}