* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Josefin Sans';
    font-size: 16px;
    color: #131313;
}

button {
    cursor: pointer;
    background: transparent;
}